.button-whats {
    color: var(--text-dark-1);
    font-size: 60px;
    padding: 0 20px;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

.app-main {
    background-image: url(https://i.postimg.cc/L5zzKsd5/tienda.jpg);
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}