.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-images {
    position: relative;
    width: 1200px;
    height: 500px;
  }
  
  .carousel-images img {
    position: absolute;
    object-position: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: nextImg 0.5s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  }
  
  .carousel-images img.active {
    opacity: 1;
  }

@keyframes nextImg {
  0% {
    translate: (-100%, -100%);
  }

  100% {
    translate: (0, 0);
  }
}
  
@media(max-width:991px) {
    .carousel-images {
        width: 350px;
        height: 300px;
    }
}