.filter {
    display: flex;
    justify-content: end;
    padding: 10px 20px;
    top: 47px;
    position: relative;
    width: 100%;
}

.filter button {
    font-size: 20px;
    border: none;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.541);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    display: none;
}

.filter button:hover {
    cursor: pointer;
    background-color: var(--bg-pastel-1);
    transition: ease-in-out 500ms;
}

.marquee-text {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    font-size: 16px;
    animation: marquee 15s linear infinite;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-180%);
    }
  }
  

.filter-pages {
    display: flex;
    gap: 20px;
}

@media(max-width:991px){
    .filter {
        width: 80%;
    }

    .filter button {
        display:inline;
    }

    .marquee-text {
        display: none;
    }
    
    .filter-pages {
        display: none;
    }
}