.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    width: 100%;
    align-items: center;
    position: block;
    text-align: center;
    bottom: 0;
    background-color: var(--text-dark-1);
}

.footer-networks a{
    color: white;
    padding: 0 15px;
    font-size: 30px;
}

.footer h3,
.footer p,
.footer h2 {
    color: white;
}

.footer-info {
    display: flex;
    gap: 100px;
}

.footer-line {
    width: 100%;
    border: 1px solid white;
}

.footer-conditions {
    display: flex;
    gap: 30px;
}

@media(max-width:991px){
    .footer {
        text-align: center;
    }

    .footer-info {
        flex-direction: column;
        gap: 10px;
    }

    .footer-conditions {
        flex-direction: column;
        gap: 10px;
    }
}



