.home-main {
    margin: 0 auto;
    padding: 20px 20px 100px 20px;  /* Se adapta según el tamaño de la pantalla */
    display: flex;
    width: 90%;  /* Ahora es dinámico en lugar de un valor fijo */
    max-width: 1200px; /* Máximo 1200px, pero puede reducirse */
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 50px;
    position: relative;
}

.home p {
    font-size: 20px;
    text-align: center;
    max-width: 100%;
    font-weight: 600;
}

.home h1 {
    text-align: center;
}

.home h2 {
    text-align: center;
}

.home-products {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.btn-products {
    color: white;
    font-size: 25px;
    padding: 10px;
    margin: 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.411);
    backdrop-filter: blur(10px);
    border: none;
}

.btn-products:hover {
    background-color: var(--bg-pastel-4);
    transition: ease-in-out 1s;
    cursor: pointer;
}

@media(max-width:991px) {
    .home p {
        font-size: 20px;
    }

    .home h1 {
        font-size: 20px;
    }

    .home h2 {
        font-size: 20px;
    }

    .btn-products {
        font-size: 20px;
    }

    .home-main {
        width: 80%;
    }

    .home {
        background-attachment: none;
    }

    .home-products {
        flex-direction: column;
    }
}