.inicio {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-moda_23-2150881559.jpg?t=st=1743023030~exp=1743026630~hmac=f6faf8df075e3016374d1aa3b16b34d0704b3dff0243c70c7469bd3cf742747f&w=996);
    background-position: center;
    image-rendering: crisp-edges;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}  

.inicio-main {
    display: flex;
    align-items: center;
    gap: 20px;
}

.inicio-main img {
    width: 300px;
}

.inicio-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inicio-main h1 {
    color: rgb(215, 116, 116);
    font-size: 30px;
}

.inicio-main h2 {
    color: rgb(87, 65, 65);
}

.inicio-main button {
    font-size: 20px;
    color: white;
    border: none;
    background-color: rgb(217, 150, 150);
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}

.inicio-main button:hover {
    background-color: rgb(139, 108, 108);
}

.categories-grid {
    display: flex;
    gap: 30px;
}

.categories-grid img {
    width: 70px;
}

.benefits-section {
    text-align: center;
}

.benefits-section li::before {
    content: "✅";
    font-size: 20px;
    margin-right: 5px;
}

@media(max-width:991px){
    .inicio {
        margin: 50px 0 50px 0;
        height: 100%;
    }
    .inicio-main {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .inicio-main img {
        width: 200px;
    }

    .categories-grid img{
        width: 50px;
    }
}

