.inicio {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-garabato-abstracto-dibujado-mano_23-2149331182.jpg?t=st=1743023786~exp=1743027386~hmac=961157767668b6338323bd7c9ab376cb6ad7e58a5046dc5bd31ed01af3d17328&w=996);
    background-position: center;
    image-rendering: crisp-edges;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}  

.inicio-main {
    display: flex;
    align-items: center;
    gap: 20px;
}

.inicio-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inicio-main img {
    width: 420px;
}

.inicio-main h1 {
    color: rgb(215, 116, 116);
    font-size: 50px;
}

.inicio-main h2 {
    color: rgb(87, 65, 65);
    font-size: 40px;
}

.inicio-main li {
    color: rgb(87, 65, 65);
    font-size: 20px;
}

.inicio-main button {
    font-size: 20px;
    color: white;
    border: none;
    background-color: rgb(217, 150, 150);
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}

.inicio-main button:hover {
    background-color: rgb(139, 108, 108);
}

.categories-grid {
    display: flex;
    gap: 30px;
}

.categories-grid img {
    width: 150px;
}

.benefits-section {
    text-align: center;
}

.benefits-section li::before {
    content: "✅";
    font-size: 20px;
    margin-right: 5px;
}

@media(max-width:1540px){
    .inicio-main img {
        width: 300px;
    }
    
    .inicio-main h1 {
        font-size: 40px;
    }
    
    .inicio-main h2 {
        font-size: 30px;
    }
    
    .inicio-main li {
        font-size: 15px;
    }

    .categories-grid img {
        width: 100px;
    }
}

@media(max-width:991px){
    .inicio {
        margin-top: 10px;
        height: 100%;
        background-attachment: scroll;
        background-size: 500% 100%;
    }
    .inicio-main {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .inicio-main img {
        width: 200px;
    }

    .categories-grid img{
        width: 60px;
    }
}

