.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-pastel-2);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 10;
    transition: top 0.3s ease-in-out;
    top: 38px;
}

.navbar.scrolled {
    top: 0; 
}

.navbar h1 {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.navbar img {
    width: 50px;
}

.navbar button {
    border: none;
    background: none;
    cursor: pointer;
}

.buttons-navbar button{
    color: black;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    background: none;
}

.buttons-navbar button:hover {
    cursor: pointer;
    background-color: var(--bg-pastel-1);
    transition: ease-in-out 500ms;
}

@media(max-width:991px) {
    .navbar {
        top: 31px;
    }

    .navbar h1 {
        display: none;
    }

    .navbar h2 {
        font-size: 20px;
    }
}