.products-main {
    background-image: url(https://i.postimg.cc/L5zzKsd5/tienda.jpg);
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    top: 40px;
}

.products ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.products img {
    width: 260px;
    height: 350px;
    display: flex;
}

.products li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--bg-pastel-2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    gap: 10px;
}

.products h3 {
    display: flex;
    justify-content: center;
}

.products div {
    display: flex;
    align-items: center;
    gap: 30px;
}

.products div p {
    display: flex;
    align-items: center;
    gap: 5px;
}

.button-products button {
    font-size: 25px;
    color: var(--text-dark-3);
    border: none;
    background: none;
    cursor: pointer;
}

.no-products {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
}

.no-products img {
    width: 350px;
}

@media(max-width:1380px) {
    .products ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width:1250px) {
    .products ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width:991px) {
    .products ul {
        grid-template-columns: 1fr 1fr;
    }
    .products img {
        width: 150px;
        height: 220px;
    }
    
    .products li {
        padding: 10px;
        gap: 5px;
    }
    
    .products h3 {
        font-size: 12px;
    }
    
    .products div {
        font-size: 12px;
        gap: 5px;
    }
    
    .button-products button {
        font-size: 18px;
        padding: 0 20px;
    }
}